<style>
    .alibabaImportContainer {
        z-index: 99999;
        position: fixed;
        left: 30px;
        top: 200px;
    }

    .alibabaImportBtn {
        display: block;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid #f60;
        background: #fff;
        color: #ff6444;
    }
</style>
<div id="alibabaImportContainer" class="alibabaImportContainer">
    <button id="alibabaImportBtn" class="alibabaImportBtn">导入商品</button>
</div>